<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./assets/css/dashboarddes.css" rel="stylesheet">
        <script src="./assets/js/jquery-3.4.1.js"></script>
        <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
        <script src="./assets/js/bootstrap.min.js"></script>
        <link href="./assets/css/mediaquery.css" rel="stylesheet">
        <script src="./assets/js/dashboard.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Montserrat&family=Nunito+Sans&family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" id="navigation">
            <div class="container-fluid">
              <a class="navbar-brand" href="../home/index.html"><img src="./assets/images/logo.png" class="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <img src="./assets/images/hamburger.png">
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-wrapper ms-auto">
                    <a class="iconn" href="#" >Dashboard</a>
                    <a class="iconn" href="#" >Post a Staud</a>
                    <a class="iconn" href="#" >My Listings </a>
                    <a class="iconn" href="#" >My Profile</a>
                  <a class="nav-link" href="#" style="color: #0B407A;">Log out</a>
                </div>
              </div>
            </div>
          </nav>
         
      <div id="main">
        <div id="left">
            <div id="heading">
                <div id="hide">   
                    <div id ="draw">
                </div>
            </div>
               
            <ul class="un-list">
                <button class="back"><li>Dashboard <img src="./assets/images/sidebar-images/Vector.png" style="margin-left: 30px;" class="icons"></li></button>
                <button><li>Post a Staud <img src="./assets/images/sidebar-images/Vector (1).png"  style="margin-left: 30px;" class="icons"></li></button>
                <button><li>My Listings <img src="./assets/images/sidebar-images/Vector (2).png"  style="margin-left: 30px;" class="icons"></li></button>
                <button><li>My Profile <img src="./assets/images/sidebar-images/Vector (3).png"  style="margin-left: 30px;" class="icons"></li></button>
            </ul>
          </div>
          </div>
          <div id="right">
              <div id="intro">
              <h2>Dashboard</h2>
              <h4><small>Hi</small>, George Kaduru</h4>
              <p>Today,</p>
              <h3>3 Jan, 2021</h3>
            </div>
            <div id="details">
                <div id="flex1">
                    <div class="firstdiv">
                       <div class="seconddiv">
                           <div><h1>10</h1></div>
                           <div  class="stats"><p>Phone Clicks</p><span><img src="./assets/images/other-icons/Vector.png">+3%</span></div>
                       </div>
                    </div>
                    <div class="firstdiv">
                        <div class="seconddiv">
                            <div><h1>20</h1></div>
                            <div class="stats"><p>Whatsapp clicks</p><span><img src="./assets/images/other-icons/Vector.png">+3%</span></div>
                        </div>
                     </div>
                     <div class="firstdiv">
                        <div class="seconddiv">
                            <div><h1>20</h1></div>
                            <div  class="stats"><p>Callback clicks</p><span><img src="./assets/images/other-icons/Vector.png">+3%</span></div>
                        </div>
                     </div>
                     <div class="firstdiv">
                        <div class="seconddiv">
                            <div><h1>30</h1></div>
                            <div  class="stats"><p>Enquiries</p><span><img src="./assets/images/other-icons/Vector.png">+3%</span></div>
                        </div>
                     </div>
                     <div class="firstdiv">
                        <div class="seconddiv">
                            <div><h1>40</h1></div>
                            <div  class="stats"><p>Staud views</p><span><img src="./assets/images/other-icons/Vector.png">+3%</span></div>
                        </div>
                     </div>
                    <div class="firstdiv">
                        <button id="bigbutton" style="color: white;">Post a staud</button>
                    </div>
                </div>
                </div>
                <div id="stauds">
                    <h3>Most staud clicks</h3>
                    <div id="flex3">
                        <div class="homes">
                            <div class="firimg"><img src="./assets/images/hostels/1.png"  class="direct"></div>
                            <div class="text">
                                <h4> Green Hostel</h4>
                                <h4 > Abuleoja, Yaba </h4>
                                <p>2 man room - #400,000 pa</p>
                                <p>4 man room - #280,000 pa</p>
                                <p>6 man room - #150,000 pa</p>
                            <button class="but">View Staud</button>
                        </div>
                        </div>
                        <div class="homes">
                            <div class="firimg"><img src="./assets/images/hostels/2.png"  class="direct"></div>
                            <div class="text">
                                <h4> Green Hostel</h4>
                                <h4 > Abuleoja, Yaba </h4>
                                <p>2 man room - #400,000 pa</p>
                                <p>4 man room - #280,000 pa</p>
                                <p>6 man room - #150,000 pa</p>
                            <button class="but">View Staud</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <section id="register">
        <div id="reg-details">Are you a developer or agent? List your properties with us!</div>
        <div id="reg-button"><button>Register</button></div>
    </section>
    
    <div id="horizantal-line"></div>

    <section id="site-details">
        <div><img src="./assets/images/footer-logo.png" class="footer-img"></div>
        <div id="footer-links">
            <div class="link-sections">
                <h4>Discovery</h4>
                <p><a href="#">New Houses</a></p>
                <p><a href="#">Most Searched</a></p>
                <p><a href="#">Most Sold</a></p>
            </div>
            <div class="link-sections">
                <h4>About</h4>
                <p><a href="#">Help</a></p>
                <p><a href="../about&faQ/index.html">FAQ's</a></p>
                <p><a href="../companies/index.html">Partners</a></p>
            </div>
            <div class="link-sections">
                <h4>Info</h4>
                <p><a href="../contact/index.html">Contact Us</a></p>
                <p><a href="../privacy&terms/index.html">Privacy Policy</a></p>
                <p><a href="../privacy&terms/index.html">Terms and Conditions</a></p>
            </div>
        </div>
    </section>
    <footer>
        <section id="end-of-page">
        <div id="copyright">©Staud All Rights Reserved</div>
        <div id="social-links">
            <a href="#"><img src="./assets/images/social-links/instagram.png"></a>
            <a href="#"><img src="./assets/images/social-links/facebook.png"></a>
            <a href="#"><img src="./assets/images/social-links/twitter.png"></a>
            <a href="#"><img src="./assets/images/social-links/youtube.png"></a>
        </div>
    </section>
    </footer>     
    </body>
    </html>
    
    
</html>