<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./assets/css/housedes.css" rel="stylesheet">
        <script src="./assets/javascript/house.js"></script>
        <link href="./assets/css/mediaquery.css" rel="stylesheet">
        <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
        <script src="./assets/javascript/bootstrap.min.js"></script>
        <script src="./assets/javascript/jquery-3.4.1.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Montserrat&family=Nunito+Sans&family=Poppins&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg" id="navigation">
            <div class="container-fluid">
              <a class="navbar-brand" href="../home/index.html"><img src="./assets/images/logo.png" class="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <img src="./assets/images/hamburger.png">
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-wrapper ms-auto">
                  <a class="nav-link active" href="../houses/index.html">Houses</a>
                  <a class="nav-link" href="../hostels/index.html">Hostels</a>
                  <a class="nav-link" href="../companies/index.html">Companies</a>
                  <a class="nav-link" href="../orders/index.html">Orders</a>
                  <a class="nav-link" href="#">Blog</a>
                  <a class="nav-link" href="#" style="color: #0B407A;">Sign In</a>
                  <a class="nav-link" href="#" style="color: #F68920;" id="hidden-link">Register</a>
                </div>
              </div>
            </div>
          </nav>

     
        <section class="info">
            <h1>Houses</h1>
        </section>
        <section id="whole">
        <section class=" left">
            <div class="box">
                There are a total of 7 listings as at Oct 9,2020. The properties have been updated by estate agents which you can contact from their information given  in the property description of each listing
            </div>
            <div class="results">
                Results 1-5 of 7
            </div>
            <div id="hostel-results">
                <div class="hostels">
                    <div><img src="assets/images/hostels/1.png"  class="hostel-images"></div>
                    <div class="hostel-text">
                        <p><strong>House of cards</strong></p>
                        <p><strong>Abuleoja, Yaba</strong> </p>
                        <p>2 man room - #400,000 pa</p>
                        <p>4 man room - #280,000 pa</p>
                        <p>6 man room - #150,000 pa</p>
                     <button class="hostel-button"><a href="../houses-view/index.html"> View Staud</a></button>
                </div>
                </div>
                <div class="hostels">
                    <div><img src="assets/images/hostels/2.png" class="hostel-images"></div>
                    <div class="hostel-text">
                        <p><strong>Jay jay's house</strong></p>
                        <p><strong>Abuleoja, Yaba</strong> </p>
                        <p>2 man room - #400,000 pa</p>
                        <p>4 man room - #280,000 pa</p>
                        <p>6 man room - #150,000 pa</p>
                    <button class="hostel-button"><a href="../houses-view/index.html"> View Staud</a></button>
                </div>
                </div>
                <div class="hostels">
                    <div><img src="assets/images/hostels/3.png" class="hostel-images"></div>
                    <div class="hostel-text">
                        <p><strong>Dreamcaster's house</strong></p>
                        <p><strong>Abuleoja, Yaba</strong> </p>
                        <p>2 man room - #400,000 pa</p>
                        <p>4 man room - #280,000 pa</p>
                        <p>6 man room - #150,000 pa</p>
                    <button class="hostel-button"><a href="../houses-view/index.html"> View Staud</a></button>
                </div>
                </div>
                <div class="hostels">
                    <div><img src="assets/images/hostels/4.png" class="hostel-images"></div>
                    <div class="hostel-text">
                        <p><strong>Powerpuff house</strong></p>
                        <p><strong>Abuleoja, Yaba</strong> </p>
                        <p>2 man room - #400,000 pa</p>
                        <p>4 man room - #280,000 pa</p>
                        <p>6 man room - #150,000 pa</p>
                    <button class="hostel-button"><a href="../houses-view/index.html"> View Staud</a></button>
                </div>
                </div>
                <div class="hostels">
                    <div><img src="assets/images/hostels/1.png"  class="hostel-images"></div>
                    <div class="hostel-text">
                        <p><strong>The Sheriffs house</strong></p>
                        <p><strong>Abuleoja, Yaba</strong> </p>
                        <p>2 man room - #400,000 pa</p>
                        <p>4 man room - #280,000 pa</p>
                        <p>6 man room - #150,000 pa</p>
                    <button class="hostel-button"><a href="../houses-view/index.html"> View Staud</a></button>
                </div>
                </div>
                <div class="hostels">
                    <div><img src="assets/images/hostels/2.png" class="hostel-images"></div>
                    <div class="hostel-text">
                        <p><strong>Adele's house</strong></p>
                        <p><strong>Abuleoja, Yaba</strong> </p>
                        <p>2 man room - #400,000 pa</p>
                        <p>4 man room - #280,000 pa</p>
                        <p>6 man room - #150,000 pa</p>
                    <button class="hostel-button"><a href="../houses-view/index.html"> View Staud</a></button>
                </div>
                </div>
                <div class="hostels">
                    <div><img src="assets/images/hostels/3.png" class="hostel-images"></div>
                    <div class="hostel-text">
                        <p><strong>Kingdom come house</strong></p>
                        <p><strong>Abuleoja, Yaba</strong> </p>
                        <p>2 man room - #400,000 pa</p>
                        <p>4 man room - #280,000 pa</p>
                        <p>6 man room - #150,000 pa</p>
                    <button class="hostel-button"><a href="../houses-view/index.html"> View Staud</a></button>
                </div>
                </div>
            </div>
            <div class="pagination-results">
                <a href="#" id="left-page" class="page-links">❮</a>
                <a href="#" class="active-number">1</a>
                <a href="#" class="page-links">2</a>
                <a href="#" class="page-links">3</a>
                <a href="#" class="page-links">4</a>
                <a href="#" class="page-links">5</a>
                <a href="#" id="truncated" class="page-links">. . .</a>
                <a href="#" class="page-links">12</a>
                <a href="#" id="right-page" class="page-links">❯</a>
              </div>
        </section>

        <section class=" right">
            <div id="background">
                <div id="search">
                    <div id="search-head"> Staud Filters</div>
                    <form>
                        <div id="search-container">
                            <div class="newform">
                                <label for="types">Type</label>
                                <br>
                                <select  class="types" >
                                    <option value="" disabled selected>All Types</option>
                                    <option>8-man room</option>
                                    <option>4-man room</option>
                                    <option>2-man room</option>
                                    <option>Single room</option>
                                    <option>Other</option>
                                </select>
                            </div>

                            <div class="newform">
                                <label for="campus">Campus</label>
                                <br>
                                <select  class="types" >
                                    <option value="" disabled selected>All Schools</option>
                                    <option>University of Lagos</option>
                                    <option>Yaba-Tech</option>
                                    <option>Lagos state University</option>
                                </select>
                            </div>
            
                            <div class="newform">
                                <label for="price">Price Range</label>
                                <br>
                                <select  class="types" >
                                    <option value="" disabled selected>No Range</option>
                                    <option>100,000 - 150,0000</option>
                                    <option>151,000 - 250,0000</option>
                                    <option>251,000 - 350,0000</option>
                                    <option>351,000 and above</option>
                                </select>
                            </div>

                            <div class="newform">
                                <label for="price">Room Size</label>
                                <br>
                                <select  class="types" >
                                    <option value="" disabled selected>Any Size</option>
                                    <option>Small (1-2 bunk capacity)</option>
                                    <option>Medium (3-4 bunk capacity)</option>
                                    <option>Large (5-8 bunk capacity)</option>
                                    <option>Very Large (Greater than 8 bunk capacity)</option>
                                </select>
                            </div>

                            <div class="newform">
                                <label for="price">Furnished</label>
                                <br>
                                <select  class="types" >
                                    <option value="" disabled selected>All Options</option>
                                    <option> Please Insert Option</option>
                                    <option>Please Insert Option</option>
                                    <option>Please Insert Option</option>
                                    <option>Please Insert Option</option>
                                </select>
                            </div>
                           
                            
                        </div>
                        </form>
                        </div>
                    </div>

                    <div id="make-order">
                        <h2>Can't find what you're looking for?</h2>
                        <button id="order-button">Make an order</button>
                    </div>

                    <div id="staudscribe">
                        <h2>Get Stauscribed</h2>
                        <p>Receive email alerts about new listed properties by joining our property mailing list</p>
                        <form>
                            <input type="email" placeholder="Enter Email Address">
                            <br>
                            <input type="submit" value="Subscribe" class="staudscribe-button">
                        </form>
                    </div>

                    <div id="staud-image">
                        <img src="./assets/images/New message-pana 1.png" width="450px" height="300px">
                    </div>

                    <div id="staud-community">
                        <h2>Join the Staud community</h2>
                        <p>Join the blog community if you want to become one of the bloggers writing about everything that has to do with accommodation off-school. From gists to student reviews and all sorts, keep in mind though, you have to have your own Staud to join</p>
                        <form>
                            <input type="text" placeholder="Enter Name">
                            <br>
                            <input type="email" placeholder="Enter Email Address">
                            <br>
                            <input type="text" placeholder="Campus">
                            <br>
                            <input type="number" placeholder="Enter Phone Number">
                            <br>
                            <input type="submit" value="Join community" class="staudscribe-button">
                        </form>
                    </div>
                </section>
        </section>

        <section id="welcome">
            <h1>Staud welcome</h1>
            <p>Staud is a digital real estate product focused on university students, it is simply the solution to every students' accommodation needs.</p>
            <p>We understand the headache that <strong>YOU</strong> go through, finding the best place to live for the school session, being exposed to fraud or scams and your dissatisfaction on renting a home.</p>
            <p>We are here to bring an <strong>END</strong> to that, to offer you the <strong>BEST</strong> secure deals, all in one place!</p>
        </section>

        <section id="how-it-works">
            <div id="details">
                <h3>How staud works</h3>
                <p><a style="color: #F68920;">GetStaud.com</a> helps you find the home you need for school without stress or worry.</p>
                <p>Step1: Visit GetStaud.com </p>
                <p>Step2: Search for your dream home</p>
                <p>Step3: Contact agent for inspection</p>
                <p>Step4: Pay and move into your Staud</p>
            </div>
            <div id="pic-details">
                <img src="./assets/images/how-it-works.png" class="pic-works">
            </div>
        </section>

        <section id="register">
            <div id="reg-details">Are you a developer or agent? List your properties with us!</div>
            <div id="reg-button"><button>Register</button></div>
        </section>
        
        <div id="horizantal-line"></div>

        <section id="site-details">
            <div><img src="./assets/images/footer-logo.png" class="footer-img"></div>
            <div id="footer-links">
                <div class="link-sections">
                    <h4>Discovery</h4>
                    <p><a href="#">New Houses</a></p>
                    <p><a href="#">Most Searched</a></p>
                    <p><a href="#">Most Sold</a></p>
                </div>
                <div class="link-sections">
                    <h4>About</h4>
                    <p><a href="#">Help</a></p>
                    <p><a href="../about&faQ/index.html">FAQ's</a></p>
                    <p><a href="../companies/index.html">Partners</a></p>
                </div>
                <div class="link-sections">
                    <h4>Info</h4>
                    <p><a href="../contact/index.html">Contact Us</a></p>
                    <p><a href="../privacy&terms/index.html">Privacy Policy</a></p>
                    <p><a href="../privacy&terms/index.html">Terms and Conditions</a></p>
                </div>
            </div>
        </section>

        <footer>
            <section id="end-of-page">
            <div id="copyright">©Staud All Rights Reserved</div>
            <div id="social-links">
                <a href="#"><img src="./assets/images/social-links/instagram.png"></a>
                <a href="#"><img src="./assets/images/social-links/facebook.png"></a>
                <a href="#"><img src="./assets/images/social-links/twitter.png"></a>
                <a href="#"><img src="./assets/images/social-links/youtube.png"></a>
            </div>
        </section>
        </footer>             

    </body>

</html>
